.groceries-selection-container {
  display: flex;
  gap: 5rem;

  .groceries-type-container {
    display: flex;
    gap: 1rem;

    &:not(:first-child) {
      border-left: 2px solid white;
    }
  }
}
